.navbar-collapse {
    
    flex-grow: 0;
}

  .navtext {
 color: black;
 font-size: 20PX;
 text-decoration: none;
 margin-left: 30px;
 margin-right: 20px;

}

body{
    background-color: #cee4e9;
}

#container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: #729557 solid; */
    
}

#listButton{
    position: fixed;
    left: 93%;
    top: 15%;
    height: 30px;
    width: 40px;
}

#listButton:hover{
    height: 39rem;
    transition: 0.2s;
}

#listButton:hover> #hide{
    display: unset;
    
}

#hide{
    display: none;
    /* border: #000 solid; */
    
}


.numbersLink{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border: solid 2px transparent;
    
}


#container-fluid{
    /* border: #729557 solid; */
    height: 1050vh;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#div1{
    
    /* border: #729557 solid; */
    height: 230vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5rem;
    

}

#div2{
    /* border: #729557 solid; */
    height: 460vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5rem;
}

h3{
text-align: center;

}

.h3Div{
    /* border: #729557 solid; */
    /* border-radius: 20px; */
    background-color: #cee4e9;
    width: 90%;
}

.div1Child{
    border: #729557 solid;

    
}

.question{
    font-size: 20px;
    font-weight: bold;
}

ol{
    font-size: 20px;
    margin-left: 20px;
}

.yourAnswer{
    /* border: rgb(134, 134, 134) solid 0.5px; */
    border-radius: 8px;
    height: 40px;
    font-size: 20px;
    padding-left: 20px;
    background-color: white;
}


    footer{
        background-color: #030303;
        width: 98.8vw;
        height: 18vh;
        position: relative;
      }
      footer>p{
        color: white;
        margin-left: 100px;
      }
      #contact{
        /* border: solid white; */
        width:40vw;
        color: white;
        margin-left: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      
      #icons{
        width: 150px;
        height: 30px;
        /* border: solid white; */
        display: inline;
        position: absolute;
        bottom: 40px;
        left: 60rem;
      
      }
      
      .icon{
        display: inline;
      
      }
      #copyright{
        position: absolute;
        left: 78.7rem;
        
      }
      #mylogo{
        position: absolute;
        left:77rem ;
        bottom: 1.5rem;
      }





@media only screen and (min-device-width: 0px) and (max-device-width: 480px){


    #container-fluid{
        height: 780vh;
    }

    #div1{
        height: 160vh;
    }

    .question{
        font-size: 10px;
    }

    ol{
        font-size: 10px;
    }

    .yourAnswer{
        height: 20px;
        font-size: 10px;
        
    }

    #div2{
        height: 360vh;
    }

    h3{
        text-align: center;
        font-size: 15px;
        
        }

        #listButton{
            position: fixed;
            left: 93%;
            top: 15%;
            height: 30px;
            width: 40px;
            display: none;
        }

        footer{
            background-color: black;
            width: 100vw;
            height: 30vh;
            position: relative; 
          }

          footer>p{
            color: white;
            margin-left: 50px;
           
            
          }
          #contact{
            /* border: solid white; */
            width: 60vh;
            color: white;
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 10px;
          }
          #icons{
            width: 50px;
            height: 24vh;
            /* border: solid white; */
            display:flex;
            flex-direction: column;
            position: absolute;
            bottom: 10px;
            left: 15rem;}
          
            
            #copyright{
              margin-left: 0rem;
              margin-top: 0rem;
              font-size: 10px;
              top:90%;
              left:45%;
            }
            #mylogo{
                left: 0rem;
                bottom: 0rem;
                top:85%;
                display: none;
            }



}


@media only screen and (min-device-width: 481px) and (max-device-width: 768px){
    #div2{
        height: 550vh;
        /* border: #000 solid; */
    }
    #container-fluid{
        height: 1110vh;
    }

    #listButton{
        position: fixed;
        left: 70%;
        top: 15%;
        height: 30px;
        width: 40px;
    }

    


        footer{
            background-color: black;
            width: 100%;
            height: 25vh;
            position: relative;
            

           
          }
          #contact{
            /* border: solid white; */
            width:80%;
            color: white;
            margin-left: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
          }
          #copyright{
            position: absolute;
            left:35rem;
            top: 8.5rem;
            
          }
          #icons{
            width: 150px;
            height: 30px;
            /* border: solid white; */
            display: inline;
            position: absolute;
            bottom: 10px;
            left: 22rem;

          
          }
          #mylogo{
            position: absolute;
            left:0rem ;
            bottom: 2rem;
            display: none;
          }   
}